@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
a{
  color: black !important;
}
.brand-logo,h2{
  font-family: 'Satisfy', 'cursive';
}


.mycard{
  margin-top:80px;
}
.auth-card{
  padding:15px;
  text-align:center;
  max-width:400px;
  margin: 40px auto;
}
.gallery{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.item{
  width:30px;
}

.home-card{
  max-width: 500px;
  height:max-content;
  margin:30px auto;
}
#toast-container{
top:30px !important;
right:20px !important;
left: auto !important;
}

